 /* Reset default margin and padding */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #0f0f1a; /* Dark background */
    color: #fff; /* Light text */
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #1a1a2f; /* Dark blue background */
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2rem;
}

/* Main section styles */
main {
    padding: 2rem;
}


#postForm {
    margin-top: 100px;
}
   
/* CAROUSEL BEGINNING */


article

body {
    margin: 0;
    background: transparent;
    text-align: center;
    font-family: sans-serif;
    color: #fefefe;
  }
  
  .container {
    margin-top: 80px;

    width: 250px; /* Adjusted width */
    height: 100px; /* Adjusted height */
    perspective: 850px; 
  }
  
  .carousel {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 60s infinite forwards linear;
  }
  
  .carousel__face {
    position: absolute;
    width: 100%; /* Adjusted width */
    height: 100%; /* Adjusted height */
    top: 0;
    left: 0;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  span {
    font-size: 2rem;
  }
  


.carousel__face:nth-child(1) {
  background-image: url("https://images.pexels.com/photos/1141853/pexels-photo-1141853.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(  0deg) translateZ(430px); }
.carousel__face:nth-child(2) { 
  background-image: url("https://images.pexels.com/photos/1258865/pexels-photo-1258865.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    transform: rotateY( 40deg) translateZ(430px); }
.carousel__face:nth-child(3) {
  background-image: url("https://images.pexels.com/photos/808466/pexels-photo-808466.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY( 80deg) translateZ(430px); }
.carousel__face:nth-child(4) {
  background-image: url("https://images.pexels.com/photos/1394841/pexels-photo-1394841.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(120deg) translateZ(430px); }
.carousel__face:nth-child(5) { 
  background-image: url("https://images.pexels.com/photos/969679/pexels-photo-969679.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
 transform: rotateY(160deg) translateZ(430px); }
.carousel__face:nth-child(6) { 
  background-image: url("https://images.pexels.com/photos/1834400/pexels-photo-1834400.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
 transform: rotateY(200deg) translateZ(430px); }
.carousel__face:nth-child(7) { 
  background-image: url("https://images.pexels.com/photos/1415268/pexels-photo-1415268.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
 transform: rotateY(240deg) translateZ(430px); }
.carousel__face:nth-child(8) {
  background-image: url("https://images.pexels.com/photos/135018/pexels-photo-135018.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(280deg) translateZ(430px); }
.carousel__face:nth-child(9) {
  background-image: url("https://images.pexels.com/photos/1175135/pexels-photo-1175135.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(320deg) translateZ(430px); }



@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    background-color: transparent; /* White background for form */
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    
}


.form-label {
    font-weight: bold;
    font-size: 1.2rem;
}

textarea {
    resize: none; /* Disable textarea resizing */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    background-color: #f8f9fa; /* Very light gray background */
}

textarea:focus {
    outline: none; /* Remove default focus outline */
    border-color: #6c757d; /* Gray border color when focused */
}

.btn-primary {
    background-color: #0f0f1a; /* Primary button color (blue) */
    border-color: #ffee00;
    width: 50%; /* Full width button */
    margin-top: 10px;
    color: white;
}

.btn-primary:hover {
    background-color: #0f0f1a; /* Darker blue on hover */
    border-color: #0056b3;
}